.Home .lander {
    padding: 80px 0;
    text-align: center;
  }
  
  .Home .lander h1 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
  }
  
  .Home .lander p {
    color: #999;
  }

  .users {
      width:30%;
      float: left;
  }

  .chatBox {
      width:60%;
      float:right;
      padding-top: 50px;
      height: 70%;
      border-radius: 20px;
      border: 1px solid black
  }
